<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>title</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>
<body>

	<div>
		<form id="videoSubmitForm" method="post" action="/admin">
			<label>Paste Link Here: </label>
			<input type="text" name="videoURL"/>
			<label>Video Title: </label>
			<input type="text" name="videoTitle"/>
			<label>Video Description: </label>
			<input type="text" name="videoDescription"/>
			<label>Choose a Category:</label>
			<select name="category" form="videoSubmitForm">
			<option></option>
			</select>
			<label>or add a new one: </label>
			<input type="text" name="category"/>
			<input type="submit" value="Create New Video"/>
		</form>
	</div>

</body>
</html>