doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Fire
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  link(rel='stylesheet', type='text/css', href='index.css')
  script(type='text/javascript', src='index.js')
  body
    .logo-holder
      img(src='http://placehold.it/90x90')
      span.logo-title FIRE
    form
      p Input Email to Stay Updated
      input.email-input(type='text', name='email')
      div
        input.email-submit(type='submit', name='submit')
    h2.copy We believe everyone was sent here for a purpose.
    p.copy
      | Regardless of the status or state of your life, we all have a burning desire within us to realize our destiny.
    img.phone(src='screenshot1.png')
    h4.copy.padding-bottom But sometimes that flame goes out.
    p.copy
      | We’ve created a bot that is simple to interact with and has a wealth of content to share that can help provide that spark you need; to get up, to keep pushing, to keep grinding
    img.phone(src='screenshot2.png')
    .icon-holder
      .icon-text
        img.icon(src='fav-icon.png')
        span Saving Favorites
      .icon-text
        img.icon(src='fav-icon.png')
        span Sharing to Facebook
      .icon-text
        img.icon(src='fav-icon.png')
        span Recieve videos at specific times
    img.logo(src='http://placehold.it/150x150')
    p.copy This is Fire.
    p.copy Motivating the doers.
    form
      p Input Email to Stay Updated
      input.email-input(type='text', name='email')
      div
        input.email-submit(type='submit', name='submit')
