<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Fire</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<link rel="stylesheet" type="text/css" href="../public/index.css">
<script type="text/javascript" src="../public/index.js"></script>
<body>
  <div class="logo-holder">
    <img src="http://placehold.it/90x90">
    <span class="logo-title">FIRE</span>
</div>
<form>
    <p>Input Email to Stay Updated</p>
    <input class="email-input" type="text" name="email">
    <div>
        <input class="email-submit" type="submit" name="submit">
    </div>
</form>
<h2 class="copy">We believe everyone was sent here for a purpose.</h2>
<p class="copy">Regardless of the status or state of your life, we all have a burning desire within us to realize our destiny.
</p>
<img src="../public/screenshot1.png" class="phone">
<h4 class="copy padding-bottom">But sometimes that flame goes out.</h4>
<p class="copy">We’ve created a bot that is simple to interact with and has a wealth of content to share that can help provide that spark you need; to get up, to keep pushing, to keep grinding
</p>
<img src="../public/screenshot2.png" class="phone">
<div class="icon-holder">
<div class="icon-text">
        <img class="icon" src="../public/fav-icon.png">
        <span>Saving Favorites</span>
    </div>
    <div class="icon-text">
        <img class="icon" src="../public/fav-icon.png">
        <span>Sharing to Facebook</span>
    </div>
    <div class="icon-text">
        <img class="icon" src="../public/fav-icon.png">
        <span>Recieve videos at specific times</span>
    </div>
</div>
<img src="http://placehold.it/150x150" class="logo">
<p class="copy">This is Fire.</p>
<p class="copy">Motivating the doers.</p>
<form>
    <p>Input Email to Stay Updated</p>
    <input class="email-input" type="text" name="email">
    <div>
        <input class="email-submit" type="submit" name="submit">
    </div>
</form>
</body>
</html>